obj
bin
v15

*.cache
Glass Size Estimator/Glass Size Estimator/obj/Debug/Glass Size Estimator.csprojAssemblyReference.cache
Glass Size Estimator/Glass Size Estimator/obj/Debug/Glass Size Estimator.csproj.CoreCompileInputs.cache
Glass Size Estimator/Glass Size Estimator/obj/Debug/Glass Size Estimator.csprojAssemblyReference.cache
Glass Size Estimator/Glass Size Estimator/obj/Debug/Glass Size Estimator.csproj.CoreCompileInputs.cache
Glass Size Estimator/Glass Size Estimator/obj/Debug/Glass Size Estimator.csprojAssemblyReference.cache
Glass Size Estimator/.vs/config/applicationhost.config
